<h1 class="text-center">Voici ta liste de course</h1>

<% @a_listes.each do |key, value| %>
  <div class="row justify-content-center">
    <div class="col-4 mt-4">
      <h2><%= key %></h2>
      <% value.each do |hash|%>
        <div class="row justify-content-center">
          <div class="col-7">
            <%= hash[:ingredient] %>
          </div>
          <div class="col-3">
            <%= hash[:quantite] %>
          </div>
          <div class="col-2">
            <%= hash[:unite] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>