<div class="container">
  <h1>Créé ton menu pour la semaine à partir de tes recettes</h1>
  <%= form_with url: "/ta_liste", method: :get, class: "" do |form| %>
    <% @semaines.each do |repas| %>
      <div class="row">
        <div class="col">
          <%= form.label repas.to_s, repas.to_s, class: "form-control" %>
        </div>
        <div class="col">
          <%= form.select "recette du #{repas}", @recettes, 
            { selected: "", prompt: 'Choisis ton plat' }, 
            class: "form-control" %>
        </div>
      </div>
    <% end %>
    <h3><%= form.submit "Crée ta liste de course", class: "btn btn-primary form-cntrol" %></h3>
  <% end %>
</div>
  