<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center mt-3">Que vas tu manger cette semaine ?</h1>
    <p>Choisis des recettes et obtiens ta liste de course.</p>
  </div>
  <hr>
  <div class="form-group mt-4">
    <%= form_with url: "/ta_liste", method: :get, class: "form-group" do |form| %>
      <% @semaines.each do |repas| %>
        <div class="row justify-content-center">
          <div class="col-6 col-md-3">
            <%= form.label repas.to_s, repas.to_s, class: "form-control" %>
          </div>
          <div class="col-6 col-md-5">
            <%= form.select "recette du #{repas}", @recettes, 
              { selected: "", prompt: 'Ton plat ?' }, 
              class: "form-control" %>
          </div>
        </div>
      <% end %>
      <div class="row justify-content-center mt-4">
        <div class="col-8">
          <h3><%= form.submit "Crée ta liste de course", class: "btn btn-flat form-cntrol w-100" %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
  