<h1>Welcome to la liste de course</h1>
<ul>
  <li><%= link_to "Crée un menu pour obtenir ta liste", new_menu_path  %></li>
  <li><%= link_to "Gérer mes recettes",recettes_path  %></li>
  <li><%= link_to "Gerer mes ingredients", ingredients_path %></li>
</ul>
