<div class="home-banner">
  <div class="banner-content">
    <h1 class="text-center">Bienvenue sur la liste de course</h1>
    <h2 class="text-center">Façonne ton menu de la semaine, obtiens ta liste de course</h2>
    <div class="text-center mt-4">
      <%= link_to "Crée ta liste", new_menu_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
