<div class="home-banner">
  <div class="banner-content">
    <h1 class="text-center">Du menu à l'assiette</h1>
    <hr>
    <h3 class="text-center">Façonne ton menu de la semaine</h3>
    <h3 class="text-center">Obtiens ta liste de course</h3>
    <hr>
    <div class="text-center mt-4">
      <%= link_to "Crée ta liste", new_menu_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
<div class="container mt-4 text-justify">
  <p>Bienvenue sur "Du menu à l'assiette".</p>
  <p>Cette application web a pour but de simplifier ta liste de course. 
  Choisis simplement ce que tu souhaites manger et l'application te génère la liste de 
  course appropriée et triée par rayons.</p>
</div>
